[Desktop Entry]
Type=Application
Version=1.0
Name=图片查看器
Name[en]=Image Viewer
Comment=图片浏览（自研）
Exec=cibyp-viewer %F
Icon=cibyp-viewer
Terminal=false
Categories=Graphics;Viewer;
StartupNotify=false
