[Desktop Entry]
Type=Application
Version=1.0
Name=终端
Name[en]=Terminal
Comment=Wayland 终端
Exec=foot
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=false
